.navbar{
    box-shadow: 0 3px 12px #3291A5;
}
.nav-link{
    font-size: 18px;
    margin-right: 15px;
}
header{
    min-height: 100vh;
    background-image: linear-gradient(rgba(50,146,165,0.7) , rgba(50,146,165,0.7)) ,
    url(../images/mountains.jpg);
    background-position: center;
    background-size: cover;
    
}
#authors{
    margin-top: -70px;
}